#tshirtTitle{
    text-align: center;
  }
  
  #buttonPanel {
    text-align: center;
    margin: 50px 0;
  }
  
  #tshirts {
    text-align: center;
    width: 100%;
    
  }
  
  #tshirts tr, #tshirts th  {
    border: 1px solid;
    padding: 10px;
   
  }
  
  #deleteButton {
    margin: 0 10px 0 0;
  }
  #editButton {
    margin: 0 10px 0 0;
  }
  select[name = "color"] {
    margin: 2 50px;
    padding: 15px;
  }

  select[name = "size"] {
    margin: 2 50px;
    padding: 15px;
  }